.about {
    background-color: inherit;
    padding-bottom: 94px;
  }
  
  .about-position {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-title);
  }
  
  .about-position-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
  }
  